.infobox{
    flex:1;
}
.carda{
    height : 90px;
    font-size: 1rem;
    background-color: black;
    color:blanchedalmond;
}
@media (max-width : 900px) {
    .carda{
        font-size: 0.8rem;
    }
}
.infobox--selected{
    border-top : 5px solid greenyellow;}
.infobox--notselected{
    border-bottom : 5px solid black !important;
}
.infobox--red{
    border-color: red;
}
.infobox--green{
    color:green !important;
}
.infoBox__cases{
    color:red;
}